/* Contêiner do carrossel */
.carousel-fluid {
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px; 
    border-radius: 10px; 
    margin-top: 20px;
  }
  
  /* Itens do carrossel */
  .carousel-item {
    width: 100%;  /* Defina a largura desejada dos itens */
    height: 400px; /* Defina a altura dos itens */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do item */
    position: relative;
    border-radius: 10px; /* Borda arredondada (opcional) */
  }
  
  /* Imagens dentro do carrossel */
  .carousel-item img {
    width: 100%; /* A imagem ocupa toda a largura do item */
    height: 100%; /* A imagem ocupa toda a altura do item */
    object-fit: contain;  /* isso aqui serve pra imagem caber certinho no carrossel, sem esticar. precisamos de imagens que sejam do mesmo tamanho */
    border-radius: 10px; /* Opcional, se você quiser bordas arredondadas */
  }


/* navbar */
/* lutei pra deixar bonitinho, não mexer */
nav{
    background: #bfa5c5;
}

.navbar{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  
}

.navbar img {
  width: 100px;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.5em;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease; /* isso aqui é pra adicionar transição suave do efeito hover */
}

.navbar-nav .nav-item .nav-link:hover {  /* efeito hover */
  color: rgb(60, 30, 80);
  transform: scale(1.1);
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.navbar-links a {
  margin-left: 30px;
  font-size: 1.5em;
}

.no-underline {
  text-decoration: none;
  color: rgb(77, 42, 100);
  transition: color 0.3s ease, transform 0.3s ease;
}

.no-underline:hover {
  color: rgb(60, 30, 80);
  transform: scale(1.1);
}

.navbar-links .btn {
  background-color: rgb(77, 42, 100);
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links .btn:hover {
  background-color: rgb(60, 30, 80);
  transform: scale(1.1);
}

/* body */
body{
  height: 100vh; /* Preenche toda a altura da tela */
  margin: 0;
  border-radius: 100000px;
}

/* cards */
.card {
  height: 500px;
  text-align: center;
}

.card-body{
  background: #bfa5c5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 3rem;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  color: rgb(77, 42, 100);
  font-weight: bold;
}

.btn-custom {
  background-color: rgb(77, 42, 100);
  color: white;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
}

.btn-custom:hover {  /* efeito hover */
  background-color: rgb(60, 30, 80);
  color: white;
}
/* footer */
footer {
  background: #bfa5c5;
  color: #080808;
  text-align: center;
}
.row {
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px; 
  border-radius: 10px; 
  margin-top: 20px;
  text-align: center;
}


footer .nav-link {
  color:  rgb(60, 30, 80);
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s ease, transform 0.3s ease; /* isso aqui é pra adicionar transição suave do efeito hover */
}

footer .nav-link:hover {  /* efeito hover */
  color: rgb(77, 42, 100);
  transform: scale(1.1);
}

footer .row {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

#instagram {
    width: 30px;
    margin: 10px;
    height:2rem;
    width: 4rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #f09433 0%, #e6683c 33%, #dc2743 66%, #cc2366 100%);
}


#Whatsapp {
  width: 30px;
  margin: 10px;
  height:2rem;
  width: 4rem;
border-radius: 50%;
background-color: #25d366;
}
#ComoAjudar {
  width: 30px;
  margin: 10px;
  height:2rem;
  width: 4rem;
border-radius: 50%;
background-color: #dc2743;
}
#Blog{
  width: 30px;
  margin: 10px;
  height:2rem;
  width: 4rem;
border-radius: 50%;
background-color: rgb(114, 114, 240);
}


.bg-light{
 display: flex;
 justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-size: 1.5rem;
  padding: 30px 40px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: transparent !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #bfa5c5;
  border-radius: 10px;
  padding: 20px;
  color: rgb(12, 12, 12);
}


.mb-4 {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-mensagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/Cards/patinhas.png);
  background-size: 100%;
  background-position: left 260px;
  border-radius: 10px;
  padding: 20px;
  color: rgb(12, 12, 12);

}

#titulo_adocao {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: rgb(77, 42, 100);
  text-align: center;
  background-color: #bfa5c5;
  border-radius: 10px;
  padding: 10px;
}

#body_login{
 background-image: url(img/Cards/patinhas.png);
 background-size: 100%;
}

#container_login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;

  margin-bottom: 5rem;
  color: rgb(77, 42, 100);
}

#container_login .button{
  background-color: rgb(77, 42, 100);
  color: white;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
}