<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adação de um amigo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark is-navbar-dark w-100 shadow-sm">
        <div class="container px-0" >
            <b><a class="navbar-brand" href="/templates/index.html"><img src="img/LogoEmpresa.png" style="color: #300d41;"    alt="Achei um Amigo"></a></b>
            <!-- Button -->
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbar-default" >
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <b><a class="nav-link" href="/templates/adotar.html" style="color: #030000;" >Quero adotar</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="/templates/blog.html" target="_blank" style="color: #030000;" >BLOG</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" href="/templates/parceiros.html" target="_blank" style="color: #030000;" >Como Ajudar</a></b>
                    </li>
                </ul>
                <div class="mt-3 mt-lg-0">
                    <a href="/templates/login.html" target="_blank" title="Login" style="color: #030000;">
                        <i class="bi bi-cart-check-fill me-2"></i><b>
                        Login</b></a>
                    <a href="/templates/login.html"  class=" btn btn-sucess" style="background-color: rgb(243, 237, 247)" target="_blank" title="Cadastre-se" style="color: #070707;" >
                        <i class="bi bi-cart-check-fill me-2" ></i><b>
                        Cadastre-se</b></a>
                </div>
            </div>
        </div>
    </nav>
  <div class="carousel-fluid">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active"  class="carrossel-item" class="carousel-item img" data-bs-interval="2000">
            <img src="img/carrossel/car_banner.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" class="carousel-item img" data-bs-interval="2000">
            <img src="img/carrossel/car_adoteamigo.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" class="carousel-item img" data-bs-interval="2000">
            <img src="img/carrossel/car_cachorro.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  
  <div class="row" id="cards" style="margin-top: 20px">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card text-center">
        <img src="" class="card-img-top">
        <div class="card-body" >
            <h5 class="card-title">Se Cadastre-se para nos adotar </h5>
           <br><a href="/templates/login.html" class=" btn btn-sucess" style="background-color: rgb(231, 224, 236);"s target="_blank" title="Login">
              <i class="bi bi-cart-check-fill me-2"></i>
              Login</a>
              <br><a href="/templates/login.html"class="btn btn-primary" target="_blank" title="Cadastre-se">
              <i class="bi bi-cart-check-fill me-2"></i>
              Cadastre-se</a>

        </div>
        </div>
    </div>
    
    <div class="col-sm-6" >
        <div class="card text-center">
        <img src="" class="card-img-top">
        <div class="card-body" >
            <h5 class="card-title">Encotrei seu aumiguinho</h5>
            <p class="card-text">Eles estão esperando você para pode dar dar muitas lambidas e ronronar!</p>
            <br><a href="/templates/adotar.html" class=" btn btn-sucess" style="background-color: rgb(243, 237, 247);">
              <i class="bi bi-cart-check-fill me-2"></i>
              Venha Adotar</a>
        </div>
        </div>
    </div>
    </div>

<footer> 
  <hr class="border border-primary border-2 opacity-80">
<div class="container-fluid">

    <div class="row">
      <div class="col-3">           
        <img src="img/LogoEmpresa.png " width="200"; margin-top='-30px' ; alt="Logo"><p class="tagline">Ache seu amigo é um programa criado para estreitar laços entre pessoas que têm o sonho de adotar um animalzinho e nossa ONG e protetores parceiros. Vamos juntos incentivar a adoção, conscientizar sobre a posse responsável e fomentar a cultura de doação em prol do bem-estar animais.</p>
      </div>
      <div class="col-4">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="https://api.whatsapp.com/send?phone=2140028922" target="blank">
              <img src="img/Logos/whatsapp.svg" alt="WhatsApp" width="30" height="24"> (21)99999-0000
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/seu_perfil" target="blank">
              <img src="img/Logos/instagram.svg" alt="Instagram" width="30" height="24">Achei um amigo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/parceiros.html" target="blank">
              <img src="img/Logos/Iconcoracao.svg" alt="WhatsApp" width="30" height="24">Como Ajudar
            </a>
          </li><br>
          <li class="nav-item">
            <a class="nav-link" href="/templates/blog.html" target="blank">
              <img src="img/Logos/Blog.svg" alt="Instagram" width="30" height="24">BLOG
            </a>
          </li>
      </div>
      <div class="col-2">           
        <div id="Localizacao">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.7501306071413!2d-43.3542670737637!3d-23.00116926490439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bda40ba9bf3b1%3A0xc53904dc1d16922b!2sSenac%20Barra%20da%20Tijuca%20(Marapendi)!5e0!3m2!1sen!2sbr!4v1731544561261!5m2!1sen!2sbr" width="300%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
       </div>
     </div>
      </div>
    </div>
      <h6 style="text-align: center; font-size: xx-small;"><a href="https://www.linkedin.com/in/jo%C3%A3o-v%C3%ADtor?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="blank">
        © João Vítor  </a><span id="ano-copyright"></span>
      </h6>
      
    
        <script>
          // Captura o ano atual
          const anoAtual = new Date().getFullYear();
        
          // Seleciona o elemento HTML com o id 'ano-copyright'
          document.getElementById('ano-copyright').textContent = anoAtual;
        </script>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </footer>
</body>
</html>